---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page1";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
